<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>


		<h1>{{ fullName }}</h1>
		<input type="text" v-model="first", placeholder="First Name">
		<input type="text" v-model="last", placeholder="Last Name">

	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.js"></script>

	<script>
		new Vue({
			el: 'body',

			data: {
				first: 'Levi',
				last: 'Zitting'
			},

			computed: {
				fullName: function() {
					return this.first + ' ' + this.last;
				}
			}
			
		});
	</script>
</body>
</html>