body, html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.plan {
	margin-top: 5px;
}

.plan-price {
	position: absolute;
	left: 100px;
}

.plan-change, .plan-selected {
	position: absolute;
	left: 200px;
}