body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#app {
	display: table;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.container {
	display: table-cell;
	vertical-align: middle;
}

.container button {
	display: block;
	margin: 0 auto;
	text-align: center;
}