.alert {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.close:hover {
  cursor: pointer;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.primary {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

